@using Home3__MVC.Models;
@model HomeViewModel
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>Image</th>
            <th>Description</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Products)
        {
            <tr id="@("tr" + item.Id)">
                <td>@Html.Partial("_Image", item.UrlImage)</td>
                <td>@Html.Partial("_Description", new Product { Name = item.Name, Description = item.Description })</td>
                <td>@Html.Partial("_Action", new Product { Id = item.Id, Price = item.Price })</td>
            </tr>
        }
    </tbody>
</table>
@Html.Partial("_Order", Model)