@model Home3__MVC.Models.LoginModel
@{
    ViewBag.Title = "Login";
}
<h2>Sign in</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div>
        <input type="hidden" name="returnUrl" value="@ViewBag.returnUrl" />
        <div>
            @Html.LabelFor(m => m.Email)
            <br />
            @Html.EditorFor(m => m.Email)
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div>
            @Html.LabelFor(m => m.Password)
            <br />
            @Html.EditorFor(m => m.Password)
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        @Html.ValidationSummary(true)
        <p><button type="submit">Login</button></p>
    </div>
}