@if (User.Identity.IsAuthenticated)
{
    <li>
        @Html.ActionLink("Hello " + @User.Identity.Name + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
    </li>
    <li>
        <div class="btn-group">
            <button class="btn btn-secondary btn-sm dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Profile
            </button>
            <div class="dropdown-menu">
                @Html.ActionLink("Edit", "Edit", "Account", new { }, new { @class = "dropdown-item" })
                <br />
                @Html.ActionLink("Delete", "Delete", "Account", new { }, new { @class = "dropdown-item" })
                <div class="dropdown-divider"></div>
                @Html.ActionLink("Log out", "LogOut", "Account", new { }, new { @class = "dropdown-item" })
            </div>
        </div>
    </li>
}
else
{
    <li>
        @Html.ActionLink("Sign Up", "Register", "Account")
    </li>
    <li>
        @Html.ActionLink("Sign In", "Login", "Account")
    </li>
}